* { margin:0; padding:0; box-sizing:border-box; }


.background-container{
    width: 100vw;
    height: 100vh;
    background-color: #F9A936;
    position: absolute;
    overflow: hidden;
}

.card-container{
    border-radius: 1rem;
    width: 80vw;
    height: 90vh;
    background-color: white;
    margin: 2vw 10vw;
    position: absolute;
}
.header-container{
    width: inherit;
    height: 5vw;
    padding: 2vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.header-left{
    font-size: clamp(16px, 1.5vw, 25px);
    word-spacing: 4vw;
    color: #0071FF;
}
.header-left  li {
     display: inline-block;
     zoom: 1;
     
}
.PLACEHOLDER{
    height: 2wh;
}

.PLACEHOLDERIMG{
    width: 20px;
    height: 20px;
    background-color: #F9A936;
    margin-left: auto;
    margin-right: auto;
}


.info-container{
    position: absolute;
    width: inherit;
    height: 80.5vh; /* not sure why i needed this 0.5....*/
    background-color: #0071FF;
    border-radius: 0 0 1rem 1rem;
}

.content-box{
    position: absolute;
    margin: 10vh 5vw;
    height: 70vh;
    width: 70vw;
    display: flex;
}

.left-box{
    position: relative;
    width: 35vw;
}
.left-box-text-cont{
    display: flex;
    flex-direction: column;
    transform: translatey(20vh);
    color: white;
}
.left-textbox > h1 {
    font-size: 70px;
}

.left-textbox > h2 {
    font-size: 20px;
}
.right-box{
    position: relative;
    width: 35vw;
    height: 70vh;
}

.right-box-img-cont{
 margin: 5vh 5vw;
}

.app-card-container{
    border-radius: 1rem;
    width: 80vw;
    height: 90vh;
    background-color: white;
    margin: 2vw 10vw;
    position: absolute;
    display: flex;
}

.app-body
{
    width: 42vw;
}

.filters-body{
    width: 24vw;
    border-radius: 1rem;
    background-color: #0071FF;
}

.home-column{
    width: 14vw;
    display: flex;
}

.search-bar-container{
    margin: 2vh 1vw;
}

.search-bar{
    width: 36vw;
    height: 4vh;
    padding: 1vh;
    border-radius: 5px;
}

.below-search-bar{
 
    margin: 0 1vw ;
    width: 36vw ;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-frame{
    background-color: grey;
    width: 16vw;
    height: 20vh;
    border-radius: 1rem;
}
.text-cont{
    width: 36vw;
    height: 6vh;
}

.text-cont > h1{
    color: #0071FF;
}

.brand-container{
    margin: 0 1vw ;
    width: 36vw ;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-frame-small{
    background-color: grey;
    width: 10vw;
    height: 20vh;
    border-radius: 1rem;
}

.filter-text-cont{
    width: inherit;
    padding: 2vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.filter-button-cont{
    width: 20w;
    padding: 2vw;
    display: flex;
    justify-content: space-around;
}

